body {
    font-family: 'Segoe UI';
    color: #5D5D5D;
    margin: 0rem;
    background-image: url("../Img/fondo.png");
}

h6 {
    margin: 0rem;
    font-weight: normal;
}

.o-main-card {
    display: flex;
    justify-content: center;
    background: #0073F6;
    box-shadow: 1px 1px 10px rgb(160, 160, 160);
}

.o-card {
    display: flex;
    background: #ffffff;
    width: 44rem;
    height: 21.9rem;
    box-shadow: 1px 4px 10px rgb(160, 160, 160);
    transform: translateY(9rem);
}

.o-img-container {
    width: 20rem;
    overflow: hidden;
}

.o-img-card {
    transform: translate(-22%);
    width: 33rem;
}

.o-card-content-container {
    display: flex;
    flex-direction: column;
}

.o-card-content {
    margin: 1.3rem 0rem 0rem 2rem;
}

.o-welcome {
    padding: 0.5rem;
    width: fit-content;
    font-size: 12px;
    color: #ffffff;
    border-radius: 0.3rem;
    background: #0073F6;
}

.o-name {
    margin-top: 1rem;
    font-size: 25px;
}

.o-profetion {
    font-size: 13px;
}

.o-line {
    margin: 1.5rem 0rem;
    width: 18rem;
}

.o-information {
    font-size: 13px;
    margin-bottom: 0.8rem;
}

.o-contact-container {
    margin-top: 0.3rem;
    width: 24rem;
    display: flex;
    background: #0073F6;
}

.o-img-contact {
    margin: 0.9rem 0.8rem;
    width: 1.8rem;
}

.o-section-aboutme {
    margin: 15rem 0rem 5rem 0rem;
    display: flex;
    justify-content: center;
}

.o-aboutme-content {
    width: 50rem;
    border: 2px solid rgb(200, 200, 200);
    padding: 1rem;
    background: #ffffff;
}

.o-aboutme-part {
    display: flex;
}

.o-img-aboutme-content {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
}

.o-aboutme-container {
    width: 45rem;
    margin: 0rem 1rem;
}

.o-aboutme-title {
    margin-top: 0.2rem;
    font-size: 25px;
    font-weight: bold;
    color: #0073F6;
}

.o-aboutme-text {
    margin-top: 0.5rem;
    font-size: 14px;
}

.o-line2 {
    margin: 2rem 0.5rem;
}

.o-section-skills {
    display: flex;
    justify-content: center;
}

.o-skill-content {
    width: 52rem;
    display: flex;
    justify-content: space-between;
}

.o-skill-container {
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(200, 200, 200);
    background: #ffffff;
}

.o-title-card {
    color: #ffffff;
    font-size: 25px;
    background: #0073F6;
    border-radius: 0.3rem;
    width: 13rem;
    text-align: center;
    padding: 0.5rem 0rem;
    transform: translateY(-1.7rem);
}

.o-title-hability-skill {
    margin-bottom: 0.3rem;
}

.o-bar {
    width: 18rem;
    margin-bottom: 0.8rem;
    border-radius: 1rem;
    border: 2px solid rgb(200, 200, 200);
}

.o-bar-progress {
    padding: 0.1rem;
    text-align: center;
    color: #ffffff;
    background: #0073F6;
    border-radius: 1rem;
}

.o-section-education {
    margin: 5rem 0rem;
    display: flex;
    justify-content: center;
}

.o-education-container {
    width: 52rem;
    border: 2px solid rgb(200, 200, 200);
    background: #ffffff;
}

.o-education-content {
    display: flex;
    margin-bottom: 2rem;
}

.o-title-education {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    padding: 0.5rem;
    width: 13rem;
    height: 5rem;
    margin-left: 3.5rem;
    background: #0073F6;
    border-radius: 0.3rem;
    z-index: 1;
}

.o-text-education {
    font-size: 13px;
    padding: 1rem;
    height: max-content;
    border: 2px solid rgb(200, 200, 200);
    margin: 1.6rem 3rem 0rem 0rem;
    border-radius: 0.3rem;
    transform: translateX(-0.5rem);
}

/* On screens that are 992px or less, set the background color to blue */

@media (max-width: 992px) {
    
    

}

/* On screens that are 600px or less, set the background color to olive */

@media (max-width: 600px) {

    .o-main-card {
        box-shadow: none;
    }

    .o-card {
        margin: 2rem 0rem;
        flex-direction: column;
        align-items: center;
        width: 19rem;
        height: 29rem; /* Acomodar luego */
        border-radius: 0.3rem;
        transform: translateY(0rem);
        box-shadow: 1px 2px 10px rgb(100, 100, 100);
    }

    .o-img-container {
        margin-top: 1rem;
        width: 8rem;
        height: 8rem;
        border-radius: 50rem;
    }

    .o-img-card {
        width: 12rem;
        transform: translateX(-18%);
    }

    .o-card-content-container {
        width: 19rem;
    }

    .o-card-content {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .o-name {
        font-size: 24px;
    }

    .o-line {
        margin: 1rem 0rem;
        width: 15rem;
    }

    .o-contact-container {
        margin-top: 0rem;
        width: 19rem;
        border-radius: 0rem 0rem 0.3rem 0.3rem;
    }

    .o-section-aboutme {
        margin: 3rem 0rem 5rem 0rem;
    }

    .o-aboutme-content {
        width: 20.5rem;
        border: none;
    }

    .o-aboutme-container {
        margin-right: 1rem;
    }

    .o-aboutme-title {
        margin-bottom: 1rem;
    }

    .o-aboutme-text{
        text-align: justify;
    }

    .o-skill-content {
        width: 22.5rem;
        flex-direction: column;
    }

    .o-skill-container {
        width: auto;
        border: none;
        margin-bottom: 5rem;
    }

    .o-section-education {
        margin: 0rem 0rem 1rem 0rem;
    }

    .o-education-container {
        width: 22.5rem;
        border: none;
    }

    .o-title-education {
        margin-left: 1rem;
        width: 30rem;
    }

    .o-text-education {
        margin: 0rem 0.5rem 0rem 0rem;
    }

}