body {
    font-family: 'Segoe UI';
    color: #5D5D5D;
    margin: 0rem;
}

.o-main-card {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
}

.o-card{
    display: flex;
    width: 40rem;
    height: 20.6rem;
    box-shadow: 1px 4px 10px #5D5D5D;
}

.o-img-container {
    width: 18rem;
    justify-content: flex-start;
    overflow: hidden;
}

.o-img-card {
    transform: translate(-24%);  
    width: 31rem;
}

.o-card-content-container {
    display: flex;
    flex-direction: column;
}

.o-card-content {
    margin: 1.3rem 0rem 0rem 2rem;
}

.o-welcome {
    padding: 0.5rem;
    width: fit-content;
    font-size: 12px;
    color: #ffffff;
    border-radius: 0.3rem;
    background: #0073F6;
}

.o-name {
    margin-top: 1rem;
    font-size: 25px;
}

.o-profetion {
    font-size: 13px;
}

.o-line {
    margin: 1rem 0rem;
    width: 18rem;
}

.o-information {
    font-size: 13px;
    margin-bottom: 0.8rem;
}

.o-contact-container {
    width: 22rem;
    display: flex;
    background: #0073F6;
}

.o-img-contact {
    margin: 0.9rem 0.8rem;
    width: 1.8rem;
}

.o-section-aboutme {
    margin: 6rem 0rem;
    display: flex;
    justify-content: center;
}

.o-aboutme-content {
    width: 50rem;
    border: 2px solid rgb(155, 155, 155);
    padding: 1rem;
}

.o-aboutme-part {
    display: flex;
}

.o-img-aboutme-content {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
}

.o-aboutme-container {
    width: 45rem;
    margin: 0rem 1rem;
}

.o-aboutme-title {
    margin-top: 0.2rem;
    font-size: 25px;
    font-weight: bold;
    color: #0073F6;
}

.o-aboutme-text {
    margin-top: 0.5rem;
    font-size: 14px;
}

.o-line2 {
    margin: 2rem 0.5rem;
}

.o-section-skills {
    display: flex;
    justify-content: center;
}

.o-skill-content {
    width: 52rem;
    display: flex;
    justify-content: space-between;
}

.o-skill-container {
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(155, 155, 155);
}

.o-title-card {
    color: #ffffff;
    font-size: 25px;
    background: #0073F6;
    border-radius: 0.3rem;
    width: 13rem;
    text-align: center;
    padding: 0.5rem 0rem;
    transform: translateY(-1.7rem); 
}

.o-title-hability-skill {
    margin-bottom: 0.3rem;
}

.o-bar-progress {
    width: 18rem;
    margin-bottom: 0.8rem;
    background: #0073F6;
    border-radius: 1rem;
}

.o-section-education {
    margin: 4rem 0rem;
    display: flex;
    justify-content: center;
}

.o-education-container {
    width: 52rem;
    border: 2px solid rgb(155, 155, 155);
}

.o-education-content {
    display: flex;
}

.o-title-education {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    padding: 1.5rem;
    width: 9rem;
    margin: 0rem 0rem 3rem 3rem;
    background: #0073F6;
    border-radius: 0.3rem;
}

.o-text-education {
    font-size: 13px;
    padding: 1rem;
    border: 2px solid rgb(155, 155, 155);
    margin: 3rem 3rem 3rem 0rem;
    border-radius: 0.3rem;
}